# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea/
/back_room/import_test_dimension_model_files/venv
/back_room/import_test_dimension_model_files/.idea
/back_room/dimension_model_system/dimension_model_center/image/stage
.DS_STORE
.vscode/settings.json
/back_room/dimension_model_system/.bsp
/back_room/dimension_model_system/test_dimension_model_generator/image/stage
/zhd-dev.iml

deploy/builds
node_modules
build